<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Site Title</title>
		{% include "head.twig" %}
		{{ function('wp_head') }}
	</head>
	<body>
		{% include "header.twig" %}

		{% block main %}{% endblock %}

		{{ function('wp_footer') }}
		{% include "footer.twig" %}
		{% include "custom_footer_scripts.twig" %}
	</body>
</html>
